<h1>Welcome, {{loginText}}</h1>
<div ng-controller="dashboardController as dashCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-6">
            <select class="form-control" ng-change="getData()" ng-model="searchOption"
                    title="Change to update quizzes" data-toggle="tooltip">
                <option value="1">All</option>
                <option value="2">Unassigned Questions</option>
                <option value="3">Unanswered Questions</option>
                <option value="4">Assigned & Answered Questions</option>
            </select>
        </div>
        <div class="col-md-6">
            <a href="#/user-add" class="btn btn-info">Add User</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive set-back">
                <tr>
                    <th class="h4" style="width: 50%">Questions</th>
                    <th style="width:25%">Asked on</th>
                    <th style="width:25%">Assign To</th>
                </tr>
                <tr ng-repeat="d in qData">
                    <td>
                        <a href="#/question-view?{{d.id}}" ng-cloak class="h6">{{d.title}}</a>
                    </td>
                    <td>{{d.asked_date}}</td>
                    <td>
                        <select>

                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>