<h1>Welcome, {{loginText}}</h1>
<div ng-controller="dashboardController as dashCtrl" ng-init="init()">
    <div class="row">
        <div class="col-md-5">
            <select class="form-control" ng-change="getData()" ng-model="searchOption"
                    title="Change to update quizzes" data-toggle="tooltip">
                <option value="1">All</option>
                <option value="2">Unassigned Questions</option>
                <option value="3">Unanswered Questions</option>
                <option value="4">Assigned & Answered Questions</option>
            </select>
        </div>
        <div class="col-md-6">
            <a href="#/user-add" class="btn btn-info">Add User</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive set-back">
                <tr>
                    <th class="h4" style="width: 50%">Questions</th>
                    <th class="h4" style="width:20%">Asked on</th>
                    <th class="h4" style="width:30%">Assign To</th>
                </tr>
                <tr ng-repeat="q in qData.data">
                    <td>
                        <a href="#/question-view?id={{q.id}}" ng-cloak class="h6">
                            <label class="text-info">
                                {{q.title}}
                            </label>
                        </a>
                    </td>
                    <td>{{q.asked_date}}</td>
                    <td>
                        <div class="row">
                            <div class="col-md-9">
                                <select name="lecturerSelect" id="lecturerSelect" class="form-control"
                                        ng-options="l.name for l in lData.data track by l.id"
                                        ng-model="q.lecId"></select>
                            </div>
                            <div class="col-md-3 pull-right">
                                <input type="button" value="Save" class="btn btn-info btn-sm"
                                       ng-click="setLecturer(q.id, q.lecId)">
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>