<section class="container">
    <div class="login-container">
        <div>
            <h2>Login</h2>
        </div>
        <div id="output"></div>
        <div class="form-box">
            <form action="" method="">
                <input name="userEmail" type="email" placeholder="Email*" required class="form-control">
                <input name="userPass" type="password" placeholder="Password*" required class="form-control">
                <button class="btn btn-success btn-block login" type="submit">Login</button>
                <span>or</span>
                <a href="#/register" class="btn btn-info btn-block login">Register</a>
            </form>
        </div>
    </div>
</section>